# For image manipulation and processing
Pillow

# For screenshot capture
mss

# For interacting with windows
pygetwindow

# For image matching on screen
pyscreeze

# For automating GUI interactions
pyautogui
pyHM

# For working with object detection models
transformers

# For asynchronous programming
asyncio

# For logging
logging

# For working with URLs
requests

# Optional dependencies for the custom_logger if color support is needed
colorama
